# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars.backup
.terraform.lock.hcl
*.tfplan


# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Kubernetes
kubeconfig
